<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>



	<settings>
		<!--开启驼峰命名 -->
		<setting name="mapUnderscoreToCamelCase" value="true" />
		<setting name="logImpl" value="LOG4J2" />
	</settings>


	<typeAliases>
		<package name="com.zl.entity" />
	</typeAliases>

	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="UNPOOLED">
				<property name="driver" value="com.mysql.jdbc.Driver" />
				<property name="url"
					value="jdbc:mysql://119.29.238.123:3306/mybatisDemo?useSSL=true" />
				<property name="username" value="root" />
				<property name="password" value="zh199609" />
			</dataSource>
		</environment>
	</environments>

	<mappers>
		<!-- <package name="com.zl.mapper"/> -->
		<mapper resource="com/zl/mapper/PrivilegeMapper.xml" />
		<mapper resource="com/zl/mapper/RoleMapper.xml" />
		<mapper resource="com/zl/mapper/RolePrivilegeMapper.xml" />
		<mapper resource="com/zl/mapper/UserMapper.xml" />
		<mapper resource="com/zl/mapper/UserRoleMapper.xml" />
	</mappers>

</configuration>